.Photobooth {
  text-align: center;
}

.Photobooth-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Photobooth-logo {
    animation: Photobooth-logo-spin infinite 20s linear;
  }
}

.photo-booth {
  background-color: aqua;
}

.taking-photo {
  background-color: mediumpurple;
}

.Photobooth-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Photobooth-link {
  color: #61dafb;
}

@keyframes Photobooth-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
